html, body {
	height:100%;
	overflow:auto;
	background-color: #212121;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.form-div{
	width: 80%;
	height: 100vh;
	margin: auto auto;
	
	text-align: center;

}

.join-form{

}

.inputs{

}


